header {
    /*background: linear-gradient(-45deg, #66CDCC 0%, #336799 100%) repeat scroll 0% 0% transparent;*/
    background: linear-gradient(-45deg, rgba(205, 102, 102, 0.4) 0%, rgba(153, 51, 51, 0.4) 100%) repeat scroll 0% 0% transparent;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-weight: bold;
}

header .navbar-default.scrolled .navbar-brand {
	/*background: none repeat scroll 0% 0% rgba(153, 51, 51, 0.49);*/
    background: none;
}

header .navbar-default.scrolled {
	border-bottom: 3px solid rgba(185, 120, 120, 1);
}

header .navbar-default.scrolled ul.navbar-nav li a {
    color: #336799;
}

header .navbar-default.scrolled ul.navbar-nav li a {
    color: rgba(153, 51, 51, 1);
}

section#about .about-item:hover i.fa {
    background: none repeat scroll 0% 0% #cd6666;
}

section#about .about-item i.fa {
    border: 2px solid #cd6666;
    color: #cd6666;
}

section#about .about-item:hover h3 {
    color: #cd6666;
}

section#reviews {
    color: #fff;
}


section#reviews h3 {
    color: #fff;
}

section .section-heading .divider:after {
    background: none repeat scroll 0% 0% #cd6666;
}

section#features .media:hover i.fa {
    color: #FFF;
    background: none repeat scroll 0% 0% #cd6666;
}

section#features .media i.fa {
    border: 2px solid #cd6666;
    color: #cd6666;
}

section#features .media.active .media-heading {
    color: #cd6666;
}

section#features .media.active i.fa {
    color: #FFF;
    background: none repeat scroll 0% 0% #cd6666;
}

section#about .about-item i.fa {
	padding: 32px;
}

section#demo {
    background-color: #fff;
}

section#support {
    background-color: #f6f6f6;
}

footer {
    background: linear-gradient(-45deg, rgba(110, 11, 11, 1) 0%, rgba(249, 148, 148, 1) 100%) repeat scroll 0% 0% transparent;
}

header .navbar-default.scrolled {
    border-bottom: 3px solid rgba(185, 120, 120, 1);	
}

@media screen and (max-width: 640px) {
	header .navbar-default.scrolled {
	    background: #E67C7C;
	}
}

@media screen and (max-width: 640px) {
	.logo {
	    width: 50px;
	    height: auto;
	}
}


/*@media screen and (max-width: 640px)
header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #cd6666;
}
*/

header .navbar-default.scrolled ul.navbar-nav li a {
	color: #933;
}

header .navbar-default ul.navbar-nav {
	padding-top: 0;
}

header {
    max-height: 800px;
    overflow: hidden;
    height: 100vh;
}




.slotholder {
	position: relative;
}
.handapp {
    position: absolute;
    bottom: 180px;
    left: 50%;
    margin-left: -560px;

}

.tp-txt {
	line-height: 64px;
}


.tp-banner-container {
    position: relative;
}

.app-hand-slide {
	position: relative;
}

.visible-xs.handapp {
	position: absolute;
    bottom: -95px;
    left: 10%;
    margin-left: 0;
}

.hidden-xs.handapp {
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -590px;
}

@media (max-width: 767px) {
	.visible-xs.handapp {
		left: 5%;
		bottom: -85px;
	}
}


.app-hand-slide {
    height: 100vh !important;
}

@media (min-width: 1267px) {
	.hidden-xs.handapp {
		position: absolute;
	    bottom: 110px;
	    left: 50%;
	    margin-left: -590px;
	}
}









.app-hand-slide-new {
	position: relative;
	height: 100vh;
	max-height: 800px;
}
.hidden-xs.handapp {
	bottom: 0px;
}
.app-hand-text {
	position: absolute;
    bottom: 40%;
    right: 50%;
    color: #fff;
    font-weight: 100;
    font-size: 32px;
    margin-right: -250px;

    bottom: 10%;
    right: 42%;
}

.app-hand-text strong {
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
}


.app-hand-desc {
	color: #ffffff;
    font-size: 65px;
    font-weight: 300;
}


header .navbar-default {
	padding-top: 20px;
}

@media (max-width: 1257px) {
	.hidden-xs.handapp {
	    bottom: -135px;
	    transform: scale(0.55);
	}
}



/* gen */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}

/* small mobile */

@media (max-width: 767px) {
    .visible-xs.handapp {
        left: 10%;
        bottom: -91px;
    }
    .app-hand-text {
        font-size: 0.85em;
        margin-right: -250px;
        bottom: 2%;
        right: 0%;
        width: 90%;
        background-color: #c05858; /* rgba(125, 40, 40, 0.83) */
        padding: 0 0 1em 2em;
        margin-right: 0;
        font-weight: bold;
    }
}


@media (min-width: 480px) {
    .visible-xs.handapp {

    }
    .app-hand-text {
        width: 50%;
    }
}


@media (min-width: 768px) {
    .hidden-xs.handapp {
        margin-left: -500px;
    }

    .app-hand-text {
        right: 35%;
        font-size: 25px;
        bottom: 30%;
        width: auto;
    }
}


@media (min-width: 640px) {
    header .navbar-default.scrolled .navbar-brand {
        color: #933;
    }
}

@media (min-width: 768px) and (max-width: 1257px) {
    .hidden-xs.handapp {
        transform: scale(1);
    }
}

@media (min-width: 850px) {
    .hidden-xs.handapp {
        bottom: 0px;
    }
}

