header {
    /*background: linear-gradient(-45deg, #66CDCC 0%, #336799 100%) repeat scroll 0% 0% transparent;*/
    background: linear-gradient(-45deg, rgba(205, 102, 102, 0.4) 0%, rgba(153, 51, 51, 0.4) 100%) repeat scroll 0% 0% transparent;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-weight: bold;
}

header .navbar-default.scrolled .navbar-brand {
	background: none repeat scroll 0% 0% rgba(153, 51, 51, 0.49);
}

header .navbar-default.scrolled {
	border-bottom: 3px solid rgba(185, 120, 120, 1);
}

header .navbar-default.scrolled ul.navbar-nav li a {
    color: #336799;
}

header .navbar-default.scrolled ul.navbar-nav li a {
    color: rgba(153, 51, 51, 1);
}

section#about .about-item:hover i.fa {
    background: none repeat scroll 0% 0% #cd6666;
}

section#about .about-item i.fa {
    border: 2px solid #cd6666;
    color: rgba(205, 102, 138, 1);
}

section#about .about-item:hover h3 {
    color: #cd6666;
}

section .section-heading .divider:after {
    background: none repeat scroll 0% 0% #cd6666;
}

section#features .media:hover i.fa {
    color: #FFF;
    background: none repeat scroll 0% 0% #cd6666;
}

section#features .media i.fa {
    border: 2px solid #cd6666;
    color: #cd6666;
}

section#features .media.active .media-heading {
    color: #cd6666;
}

section#features .media.active i.fa {
    color: #FFF;
    background: none repeat scroll 0% 0% #cd6666;
}

section#about .about-item i.fa {
	padding: 32px;
}

footer {
    background: linear-gradient(-45deg, rgba(110, 11, 11, 1) 0%, rgba(249, 148, 148, 1) 100%) repeat scroll 0% 0% transparent;
}

header .navbar-default.scrolled {
    border-bottom: 3px solid rgba(185, 120, 120, 1);	
}

@media screen and (max-width: 640px) {
	header .navbar-default.scrolled {
	    background: #E67C7C;
	}
}

@media screen and (max-width: 640px) {
	.logo {
	    width: 50px;
	    height: auto;
	}
}


/*@media screen and (max-width: 640px)
header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #cd6666;
}
*/

header .navbar-default.scrolled ul.navbar-nav li a {
	color: #fff;
}

header .navbar-default ul.navbar-nav {
	padding-top: 0;
}

header {
    max-height: 800px;
    overflow: hidden;
    height: 100vh;
}




.slotholder {
	position: relative;
}
.handapp {
    position: absolute;
    bottom: -90px;
}