header {
    /*background: linear-gradient(-45deg, #66CDCC 0%, #336799 100%) repeat scroll 0% 0% transparent;*/
    background: linear-gradient(-45deg, rgba(205, 102, 102, 0.4) 0%, rgba(153, 51, 51, 0.4) 100%) repeat scroll 0% 0% transparent;
    background: #f6f6f6;
}
.pre-loader {
    opacity: 0;
}
.navbar-default .navbar-brand {
	color: #a00;
	font-weight: bold;
}

header .navbar-default.scrolled .navbar-brand {
	/*background: none repeat scroll 0% 0% rgba(153, 51, 51, 0.49);*/
    background: none;
}

header .navbar-default.scrolled {
	border-bottom: 3px solid rgba(185, 120, 120, 1);
}

header .navbar-default.scrolled ul.navbar-nav li a {
    color: #336799;
}

header .navbar-default.scrolled ul.navbar-nav li a {
    color: rgba(153, 51, 51, 1);
}

section#about .about-item:hover i.fa {
    background: none repeat scroll 0% 0% #cd6666;
}

section#about .about-item i.fa {
    border: 2px solid #cd6666;
    color: #cd6666;
}

section#about .about-item:hover h3 {
    color: #cd6666;
}

.about-item h3 {
    font-weight: 300;
}

section#features {
    background: #fff;
}

section#reviews {
    color: #fff;
    font-size: 18px;
}

section#reviews h3 {
    color: #fff;
}

section#reviews img {
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 20px;
}

section#reviews i.bordered {
    border: 2px solid #fff;
    color: #fff;
    padding: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 25px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 90px;
    text-align: center;
}

section#reviews i.borderless {
    color: #999;
    padding: 0 5px;
}

section .section-heading .divider:after {
    background: none repeat scroll 0% 0% #cd6666;
}

section#features .media:hover i.fa {
    color: #FFF;
    background: none repeat scroll 0% 0% #cd6666;
}

section#features .media i.fa {
    border: 2px solid #cd6666;
    color: #cd6666;
}

section#features .media.active .media-heading {
    color: #cd6666;
}

section#features .media.active i.fa {
    color: #FFF;
    background: none repeat scroll 0% 0% #cd6666;
}

section#about .about-item i.fa {
	padding: 32px;
}

section#demo {
    background-color: #fff;
}

.review p{
    font-size: 17px;
}

.padding {
    padding: 0 10px;
}

.intro-short {
    width: 670px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #999999;
}

.vzpaa {
    width: 188px;
    font-size: 12px;
    margin-left: 150px;
    margin-top: 17px;
    opacity: 0.7;
}


.vzpaa img {
    width: 55px;
}

.vzpaa-link {
    color: #666666;
}

.vzpaa-link:hover, .vzpaa-link:focus, .vzpaa-link:active {
    text-decoration: none;
    color: #666666;
}

.vzpaa-link:hover .vzpaa {
    opacity: 1;
}

section#support {
    background-color: #f6f6f6;
}

section#support .media {
    margin: 0 0 0 30px;
    display: inline-block;
    float: none !important;
}


section#support .media a {
    border: 2px solid;
    padding: 0 20px 0 0;
}

section#support .media i.fa {
    margin: -1px;
    vertical-align: sub;
}


footer {
    background: linear-gradient(-45deg, rgba(110, 11, 11, 1) 0%, rgba(249, 148, 148, 1) 100%) repeat scroll 0% 0% transparent;
}

header .navbar-default.scrolled {
    border-bottom: 1px solid rgba(185, 120, 120, 0.1);
}

@media screen and (max-width: 640px) {
	header .navbar-default.scrolled {
	    background: #E67C7C;
	    background: rgba(255, 255, 255, 0.93);
	}
}

@media screen and (max-width: 640px) {
	.logo {
	    width: 50px;
	    height: auto;
	}
}


/*@media screen and (max-width: 640px)
header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #cd6666;
}
*/

header .navbar-default.scrolled ul.navbar-nav li a {
	color: #aa0000;
}

header .navbar-default ul.navbar-nav {
	padding-top: 0;
}

header {
    max-height: 800px;
    overflow: hidden;
    height: 100vh;
}




.slotholder {
	position: relative;
}
.handapp {
    position: absolute;
    bottom: 180px;
    left: 50%;
    margin-left: -560px;

}

.tp-txt {
	line-height: 64px;
}


.tp-banner-container {
    position: relative;
}

.app-hand-slide {
	position: relative;
}

.visible-xs.handapp {
	position: absolute;
    bottom: -95px;
    left: 10%;
    margin-left: 0;
}

.hidden-xs.handapp {
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -590px;
}

@media (max-width: 767px) {
	.visible-xs.handapp {
		left: 5%;
		bottom: -85px;
	}
}


.app-hand-slide {
    height: 100vh !important;
}

@media (min-width: 1267px) {
	.hidden-xs.handapp {
		position: absolute;
	    bottom: 110px;
	    left: 50%;
	    margin-left: -590px;
	}
}



.app-hand-slide-new {
	position: relative;
	height: 100vh;
	/* padding-bottom: 100px; */
	max-height: 800px;
}
.hidden-xs.handapp {
	bottom: 0px;
}
.app-hand-text {
	z-index: 2;
	position: absolute;
	color: #999999;
	font-size: 32px;
	margin-left: 24%;
	margin-top: 60px;
}

.app-hand-text strong {
    letter-spacing: -6px;
    color: #666666;
    font-size: 90px;
    font-weight: 300;
    margin-left: -7px;
}


.app-hand-desc {
	color: #ffffff;
    font-size: 65px;
    font-weight: 300;
}

.media > .pull-left {
    margin-right: 20px;
    /* float: none !important; */
}


header .navbar-default {
	padding-top: 20px;
}

@media (max-width: 1257px) {
	.hidden-xs.handapp {
	    bottom: -135px;
	    transform: scale(0.55);
	}
}



/* gen */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #a66;
}

/* small mobile */

@media (max-width: 767px) {
    .visible-xs.handapp {
        left: 10%;
        bottom: -91px;
    }
    .app-hand-text {
        font-size: 0.85em;
        width: 90%;
        background-color: rgba(192, 88, 88, 0.9);/* rgba(125, 40, 40, 0.83) */
        padding: 0 0 1em 2em;
        font-weight: bold;
        color: #fff;
        /* bottom: 0px; */
        /* left: 0px; */
        position: absolute;
        /* width: 300px !important; */
        display: block;
        /* position: relative; */
        margin: 0;
        margin-top: 476px;
        height: 170px;
    }
    .app-hand-text strong {
    	color: #fff;
    	font-size: 24px;
    	display: block;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	letter-spacing: -2px;
    	margin-left: 3px;
    }
    .intro-sub {
    	font-size: 1.3em;
    	display: none;
    }
    .intro-short {
    	font-size: 0.5em;
    	font-weight: 500;
    	padding: 0;
    	margin: 0;
    	color: #fff;
    	width: 83%;
    	margin-top: -13px;
    	z-index: 500;
    	padding-right: 8px;
    	font-size: 15px;
    }
}

@media (max-height: 695px) {
    .app-hand-text {
        margin-top: 396px;
    }
}

@media (max-height: 627px) {
    .app-hand-text {
        margin-top: 380px;
    }
}

@media (max-height: 569px) and (max-width: 321px) {
    .app-hand-text {
        margin-top: 310px;
        padding: 0 0 1em 1.25em;
    }
    .app-hand-text strong {
    	font-size: 36px;
    	letter-spacing: -2px;
    }
    .app-hand-text .intro-short {
    	font-size: 16px;
    }
}

@media (max-height: 569px) and (max-width: 360px) {
    .app-hand-text {
        margin-top: 310px;
        padding: 0 0 1em 1.25em;
    }
    .app-hand-text strong {
    	font-size: 36px;
    	letter-spacing: -2px;
    }
    .app-hand-text .intro-short {
    	font-size: 16px;
    }
}

@media (min-width: 480px) {
    .visible-xs.handapp {

    }
    .app-hand-text {
        width: 50%;
    }
}


@media (min-width: 768px) {
    .hidden-xs.handapp {
        margin-left: -500px;
    }

    .app-hand-text {
        font-size: 35px;
        width: auto;
    }
}


@media (min-width: 640px) {
    header .navbar-default.scrolled .navbar-brand {
        color: #aa0000;
    }
}

@media (min-width: 768px) and (max-width: 1257px) {
    .hidden-xs.handapp {
        transform: scale(1);
    }
}

@media (min-width: 850px) {
    .hidden-xs.handapp {
        bottom: 0px;
    }

    .app-hand-text {
        font-size: 35px;
        width: auto;
    }

	.intro-short {
		width: 600px;
		font-size: 35px;
	}

}

@media (max-width: 990px) and (min-width: 768px) {
	.intro-short {
		width: calc(100vw - 470px);
		font-size: 29px;
	}
}


/* iphone app screenshot */

.iphone-ss {
    position: absolute;
    left: 50%;
    margin-left: -192px;
    top: 19%;
}

.iphone-app-screenshot img {
    padding-left: 289px;
    padding-right: 305px;
    padding-top: 270px;
    padding-bottom: 378px;
}

.iphone-app-screenshot {
    background: transparent url('../img/rb/iphone-v1-silver.png') no-repeat left top;
    transform: scale(0.25);
    transform-origin: top left;
    display: inline-block;   
}


@media (min-width: 768px) {
    .iphone-ss {
        left: 26%;
    }
}
@media (min-width: 900px) {
    .iphone-ss {
        left: 28%;
    }
}
@media (min-width: 980px) {
    .iphone-ss {
        left: 22%;
    }
}

.icon-heading {
    font-size: 18px;
    line-height: 20px;
    color: #cd6666;
    margin-left: 10px;
    vertical-align: text-bottom;
}

form .input-group input.form-control.pull-left {
    height: 54px;
    font-size: 16px;
    max-width: 320px;
    min-width: 270px;
    /* margin-right: -133px; */
    /* padding-right: 135px; */
    width: auto;
    display: inline-block;
    /* margin-right: 40px; */
}

form .form-control {
    color: #A29C9C;
}
form .form-control:focus {
    color: #4A4A4A;
}

.input-group-btn {
    vertical-align: baseline;
    width:inherit;
}

.input-group-btn button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn {
    vertical-align: inherit;
}

.btn.btn-lg {
    padding: 13px 25px 14px;
}

.overflow-hidden {
    overflow: hidden;
}

/* iphone features */
.iphone-features {
    transform: scale(0.21);
        margin-left: 10%;
}
@media (min-width: 768px) {
    .iphone-features {
        margin-left: -45px;
    }
}
@media (min-width: 900px) {
    .iphone-features {
        margin-left: -50px;
    }
}
@media (min-width: 992px) {
    .iphone-features {
        margin-left: -15px;
    }
}

@media (max-width: 1080px) {
	.app-hand-text.sp-effect5.active.animated.fadeInUp {
		font-size: 35px;
	}
	.app-hand-text {
		max-width: 380px;
	}
}

@media (min-width: 1200px) {
    .iphone-features {
        margin-left: 25px;
    }
}

.iphone-features-wrapper {
    height: 500px;
    display: block;
}

@media (min-width: 1200px) {
	.iphone-ss {
		left: 28%;
	}
}


@media (min-width: 1400px) {
	.iphone-ss {
		left: 31%;
	}
}

@media (max-width: 767px) {
    .iphone-features-col {
        display: none;
    }
    section#features .media.media-left h3 {
        float: none !important;
        text-align: left !important;
    }

    section#features .media.media-left > .pull-left {
        margin-right: 0;
    }
    section#features .media.media-left > .pull-right {
         margin-right: 20px; 
         float: left !important; 
         margin-left: 0; 
    }
    section#features .media.media-left .media-body {
        text-align: left;
        margin-left: 97px;
    }
    .iphone-features-col + div {
        margin-top: 25px;
    }
    section#features .media.feature {
        text-align: left;
        max-width: 330px;
        margin: 20px auto;
    }
}
@media (max-width: 480px) {
	section#features .media.media-left > .pull-right {
		margin-right: 10px;
	}
	section#features .media i.fa {
		/* font-size: 10px; */
		/* padding: 10px; */
		/* width: 2em; */
	}
}
@media (max-width: 960px) {
	section#support .media {
		width: 100%;
		float: none !important;
		margin: 0 auto;
		text-align: center;
		margin-top: 40px;
	}
	.email-form.input-group {
		width: 420px;
	}
}

@media (max-width: 640px) {
	form .input-group input.form-control.pull-left {
		z-index:2;
		max-width: 300px;
		margin-left: -25px;
	}
}

@media (max-width: 480px) {
	.email-form.input-group {
		width: 300px;
	}
	.email-form .input-group-btn {
		position: absolute;
		right: 0;
		z-index: 2;
		
	}
	.email-form .input-group-btn .btn {
		background-color: #f6f6f6;
	}
	form .input-group input.form-control.pull-left {
	    margin-left: -25px;
	    padding-right: 96px;
	}

}

@media (max-width: 374px) {
	.email-form.input-group {
		margin-left: -13px;
	}
}

.email-form {
    margin: 0 auto;
    text-align: center;
}

.newsletter-form {
    display: inline-block;
}



@media screen and (max-width: 995px) {
    header .navbar-default .navbar-toggle {
        margin-top: 0px;
        margin-right: 0px;
        background: none;
        border: 2px solid #a66;
        color: #a66;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        -ms-border-radius: 5em;
        -o-border-radius: 5em;
        border-radius: 5em;
    }

	header .navbar-default.scrolled .navbar-toggle {
    	margin-top: 8px;
	}

}

@media screen and (max-width: 768px) and (min-width: 640px) {
    header .navbar-default .navbar-toggle {
        margin-right: 20px;
    }
}

/* EXPANDED FEATURES */

.feature-expand.media.feature {
    position: relative;
}
.feature-expand.media.feature .media-body {
    transition: all 0.4s;
} 
.feature-expand .media-expand.media-body {
    opacity: 0;
    position: absolute;
    margin-left: 80px;
    top: 5px;
}
.feature-expand.media-left .media-expand.media-body {
    margin-left: 0;
    margin-right: 80px;
}

.feature-expand.media.feature .pull-left:focus + .media-body,
.feature-expand.media.feature .pull-right:focus + .media-body,
.feature-expand.media.feature .pull-left:hover + .media-body,
.feature-expand.media.feature .pull-right:hover + .media-body {
    opacity: 0;
}
.feature-expand.media.feature .pull-left:focus + .media-body + .media-expand,
.feature-expand.media.feature .pull-right:focus + .media-body + .media-expand,
.feature-expand.media.feature .pull-left:hover + .media-body + .media-expand,
.feature-expand.media.feature .pull-right:hover + .media-body + .media-expand {
    opacity: 1;
}

@media (max-width: 768px) {
    .feature-expand .media-expand.media-body,
    .feature-expand.media-left .media-expand.media-body {
        margin-right: 0;
        margin-left: 97px;
    }
}


@media (max-width: 994px) {
	.navbar-default .navbar-collapse.collapse {
		background: rgba(255, 255, 255, 0.8);
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	}
}

.navbar-default.scrolled .navbar-collapse.collapse {
    background: transparent;
    box-shadow: none;
}